<%- include('header'); -%>

<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button type="submit" class="ui blue labeled submit icon button ">Envoyer
        <i class="icon edit"></i>
    </button>
</form>

<%- include('footer'); -%>
